@import "tailwindcss";

.services-wrapper {
  position: relative;
  height: 100vh;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.service-card {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
